name: build-dart

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  run-dart:
    runs-on: ubuntu-latest

    container:
      image: dart:stable

    steps:
      - name: Run dart --version
        run: dart --version
